@{
    ViewData["Title"] = "About";
}

<h1>Om</h1>

<div class="row">
    <div class="col-lg-12">
        <h2>Produkt evaluering</h2>
        <div class="alert alert-info">
            <p>I denne opgave skal du lave en web-applikation, der kan bruges til at evaluere et produkt. Brugeren skal kunne indtaste sit navn, navnet på et produkt og så give produktet en karakter fra 1-10.></p>
            <p>Du skal lave projektet som en .NET Core 2.0 projekt - ligesom kryds og bolle-spillet i kapitel 4.</p>
            <p> Du behøver ikke at bruge Middleware</p>
            <p>Du behøver ikke at bruge bootstrap og andre tredjeparts biblioteker fra Bower</p>
        </div>
    </div>
</div>